.contact{
  padding:100px 0;
  background:#b1a483ab;
}

form{
  display:flex;
  flex-direction:column;
  gap:20px;
  max-width:600px;
  margin:auto;
}

input{
  padding:15px;
  border:1px solid #ddd;
  border-radius:10px;
}

button{
  background:var(--primary);
  padding:15px;
  border:none;
  border-radius:10px;
  font-weight:600;
}